.not_found {
    * {
        background-color: #fbfbfa;
    }

    .container {
        margin: 5%;
        text-align: center;
    }

    .container h1,
    .container  {
    color: #025374;
    }

    .container img {
        width: 50%;
    }
}